h1{
    color:blue;
}
body{
    background-color: bisque;
}
ul{
    font-size: 16px;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
ol{
    color:white;
    background-color: blue;
}
strong{
    font-style: italic;
}
em{
    font-weight: bold;
}